################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*.user
*.ncrunch*
bin
obj
*csproj.user
*sln.user
dist/