################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BestestTheaters/.vs
/BestestTheaters/bin
/BestestTheaters/obj
*csproj.user
*sln.user
