<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>
  <h2>
    Booking <span th:text="${show.title}"></span>
  </h2>

  <form th:object="${show}" class="form-horizontal" method="post">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="showId" th:value="${show.id}" />
        <label for="numberOfTickets">Number of tickets</label>
        <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" required>
        <button class="btn btn-primary" type="submit">Book</button>
      </div>
    </div>
  </form>
</body>

</html>
