<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shows')}">

<body>

<h2>Bookings</h2>

<div th:if="${message}" class="alert alert-success" id="success-message">
  <span th:text="${message}"></span>
</div>

<div th:if="${error}" class="alert alert-danger" id="error-message">
  <span th:text="${error}"></span>
</div>

<table id="shows" class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Number of tickets</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bookings : ${listBookings}">
    <td th:text="${bookings.show.title}"></td>
    <td th:text="${bookings.show.date}"></td>
    <td th:text="${bookings.numberOfTickets}"></td>
    <td th:text="${bookings.status}"></td>
  </tr>
  </tbody>
</table>

<div th:if="${totalPages > 1}">
  <span>Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/shows.html?page=__${i}__'}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>]&nbsp;</span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/shows.html?page=1'}" title="First"
         class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/shows.html?page=__${currentPage - 1}__'}" title="Previous"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/shows.html?page=__${currentPage + 1}__'}" title="Next"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/shows.html?page=__${totalPages}__'}" title="Last"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-fast-forward"></span>
    </span>
</div>
</body>
</html>
